<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RPG.Rpg.RpgConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\akoehler\Source\repos\AKxNet\Prime\Data\RPG.mdf;Integrated Security=True" />
    </connectionStrings>
</configuration>